__pycache__/
*.py[cod]
*$py.class
*.log
*.mo
*.dump
/*.sqlite*
/celerybeat-*
*.egg-info/
local_settings.py
.idea
*.iml
venv
venv-deb

pylintrc
.vscode
payments_confirmation.log
ws_debug.log

/JUNK
/STATIC
/static
/MEDIA
/media
/WWW
/debug.log
*.sqlite*
/*.iml
/celerybeat-schedule
.env
.drf-friendly-errors
.~lock.*#
TODO.md
*.ods